.sfdx/
.sfdx/orgs/test-qqlvjz3caq80@example.com/sourcePathInfos.json
.sfdx/sfdx-config.json
.sfdx/orgs/test-qqlvjz3caq80@example.com/maxrevision.json
.sfdx/orgs/test-qqlvjz3caq80@example.com/metadataTypeInfos.json